This is lam
<html>

<head>
    <title>lam is handsome</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>


    <form>
        Please Type the information below:
        <br>
        <input type='text' id='name' placeholder="name">
        <br>
        <input type='text' id='ip' placeholder="ip">
        <br>
        <input type='text' id='timestamp' placeholder="timestamp">
        <br>
        <input type='text' id='lifetime' placeholder="lifetime">
        <br>
        <button id="btn">Click me</button>
    </form>


<script>

</script>

</body>
